*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body{
  background-color: #FFFFFF;
  height: 100vh;
  
}


.interface{
  max-width: 1280px;
  margin: 0 auto;
}
h2.titulo{
  color: #000000;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
}

h2.titulo span{
  color: #00FF08;
}
.flex{
  display: flex;
}
/*Cabeçalho*/

header{
  padding: 40px 4%;
}

header > .interface{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

header a{
  color: #000000;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover{
color:  #08ec10;
transform: scale(1.06);
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

 .btn-contato button{
padding: 10px 40px;
font-size: 20px;
font-weight: 600;
background-color: #00FF08;
border: 0;
border-radius: 30px;
cursor: pointer;
margin: 15px 0;
}

  button:hover, form .btn-enviar input:hover{
box-shadow: 0px 0px 8px #00ff08;
transform: scale(1.05);
}





/*Topo main*/
section.topo-do-site{
  padding: 40px 4%;
}
section.topo-do-site .flex{
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 110px;
}

.text-topo-site h2{

  color: #00FF08;
  font-size: 28px;
  margin: 10px 0;

}



span{
  color: #00FF08;
}

.scrolling-text {
  overflow: hidden;
}

.scrolling-text p {
  display: inline-block;
  animation: scroll 2s linear infinite alternate;
  font-size: 22px;
  margin-top: 10px;
  color: #1A1C20;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text p {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.foto-perfil{
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  background-color: #00FF08;
}

.topo-do-site .img-topo-site img{
position: relative;
animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
  0%{
    top:0;
  }
  100% {
    top: 30px
  }
}

/* Sobre mim */
section.sobre{
padding: 370px 4%;
}
.img-sobre img{
  width: 310px;
  height: 530px;
  border-radius: 20px;
}

section.sobre .flex{
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.sobre .sobre-min{
  color: #000000;
}

.sobre .sobre-min h2{
  font-size: 33px;
  line-height: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.sobre .sobre-min h2 span{
  display: block;
}

.sobre .sobre-min p{
margin: 20px 0;
text-align: justify;
}

.sobre .sobre-min .btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #00ff08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 15px;
  transition: .2s;
}

/*Especialidade*/

section.especialidades{
  padding: 40px 4%;
}

section.especialidades .flex{
  justify-content: center;
  text-align: center;
  gap: 60px;
}
.especialidades .especialidades-box{
  color: #000000;
  padding: 40px;
  border: 2px solid #00ff08;
  margin-top: 45px;
  border-radius: 20px;
  transition: .2s;
}

.especialidades .especialidades-box:hover{
transform: scale(1.05);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.705);
}

.especialidades .especialidades-box i{
  font-size: 70px;
  color: #00ff08;
}

.especialidades .especialidades-box h3{
  font-size: 28px;
  margin: 15px 0;
}

.especialidades h2{
  text-align: center;
  
}













/* Hard Skills*/
section.hardskills{
  padding: 40px 4%;
  }

.hardskills .tecnologias img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
}

.hardskills h2{

  font-size: 35px;
  line-height: 40px;
  margin-bottom: 30px;
  text-align: center;
  margin: 80px;

}

section.hardskills .flex{
  justify-content: center;
  text-align: center;
}

.tecnologias {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
}
.logos {
  display: inline-block;
  animation: mover 10s linear infinite alternate;
}
@keyframes mover {
  0% { transform: translateX(-160%); }
  100% { transform: translateX(160%); }
}
.logos img {
  width: 80px;
  margin: 10px;
}




/* Projetos*/

section.projetos{
  padding: 30px 4%;
  box-shadow: 0 0 40px 10px #00000015;
}

section.projetos .flex{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.projetos h2{
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 140px;
  text-align: center;
}

.interface .logo img{
  width: 100px;
  height: 100px;
}

.card {
  background-color: #ffffff;
  border: 2px solid #00ff08;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-out;
  height: 530px;
}
.card h1{
  text-align: center;
  color: #000000;
}

.card p{
  text-align: center;
  color: #000000;
}

.card img{
  max-width: 600px;
  height: 260px;
  border-radius: 8px;
}

.container-cards{
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: center;
gap: 10px;
width: 90%;
margin: 0 auto;

}

.card:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tec {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: -80px;
}

.tec p {
  border-radius: 2px;
  padding: 3px;
}
.tec img{
  width: 30px;
}

.button {
  display: flex;
  justify-content: center;
  gap: 300px; 
  position: relative;
  top: -207px;
  
}
.button button{
padding: 8px 15px;
border-radius: 8px;
background-color: #00ff08;
cursor: pointer;

font-size: 20px;
font-weight: 600;
border-radius: 20px;
}

.button img{
  width: 150px;
  margin-left: 20px;
}

section .contato{
padding: 80px 4%;
}

form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input, form textarea{
  width: 100%;
  background-color: #242424;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 20px;
}

form textarea{
  resize: none;
  max-height: 200px;
}

form .btn-enviar{
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input{
  width: 120px;
  background-color: #08ec10;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}





@media screen and (max-width: 1020px){
 /*CLASSES GERAIS*/

 .flex{

  flex-direction: column-reverse;
}  
 

/*CABEÇALHO*/

.menu-desktop, .btn-contato{
  display: none;
}


/*TOPO DO SITE*/
section.topo-do-site .flex{
  gap: 45px;
  margin: 0 auto;

  justify-content: center;
  text-align: center;
}

section.topo-do-site{
  padding: 20px 8%;
}

.topo-do-site h1{
  font-size: 30px;
}

.foto-perfil{
  width: 90%;
  border-radius: 35px;
}

/*ESPECIALIDADES*/
section.especialidades{
  padding: 40px 8%;
}

.hardskills .tecnologias img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
}


/* HARDSKILLS*/
section.hardskills .flex{
  justify-content: center;
  align-items: center;
}

.tecnologias {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
}
.logos {
  display: inline-block;
  animation: mover 10s linear infinite alternate;
}
@keyframes mover {
  0% { transform: translateX(-108%); }
  100% { transform: translateX(85%); }
}
.logos img {
  width: 80px;
  margin: 10px;
}





/* Projetos */


section.projetos{
  padding: 40px 8%;
  box-shadow: 0 0 40px 10px #00000015;
}

section.projetos .flex{
  display: flex;
  justify-content: center;
  align-items: center;
 /* display: inline-block;
  padding: 40px 8%;
  box-shadow: 0 0 40px 10px #00000015;
  justify-content: center;
  align-items: center;
  text-align: center;*/
}



.card{
  width: 380px;
  height: 680px;
  background-color: #ffffff;
  border: 2px solid #00ff08;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}


.card h1{
  text-align: center;
  color: #000000;
}

.card p{
  text-align: center;
  color: #000000;
}

.card img{
  width: 290px;
  height: 250px;
  border-radius: 8px;
}

.container-cards{
display: flex;
flex-direction: column;
gap: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}


.tec {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: -80px;
}

.tec p {
  border-radius: 2px;
  padding: 1px;
}
.tec img{
  width: 30px;
}

.button {
  display: flex;
  justify-content: center;
  gap: 150px; 
  position: relative;
  top: -100px;
  
}
.button button{
padding: 8px 15px;
border-radius: 8px;
background-color: #00ff08;
cursor: pointer;

font-size: 10px;
font-weight: 600;
border-radius: 20px;
}

.button img{
  width: 5px;
  margin-left: 20px;
}

}