*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body{
  background-color: #FFFFFF;
  height: 100vh;
  
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display: flex;
}
/*Cabeçalho*/

header{
  padding: 40px 4%;
}

header > .interface{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

header a{
  color: #000000;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover{
color:  #08ec10;
transform: scale(1.06);
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

 .btn-contato button{
padding: 10px 40px;
font-size: 20px;
font-weight: 600;
background-color: #00FF08;
border: 0;
border-radius: 30px;
cursor: pointer;
margin: 15px 0;
}

  button:hover{
box-shadow: 0px 0px 8px #00ff08;
transform: scale(1.05);
}





/*Topo main*/
section.topo-do-site{
  padding: 40px 4%;
}
section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 110px;
}

.text-topo-site h2{

  color: #00FF08;
  font-size: 28px;
  margin: 10px 0;

}



span{
  color: #00FF08;
}

.scrolling-text {
  overflow: hidden;
}

.scrolling-text p {
  display: inline-block;
  animation: scroll 2s linear infinite alternate;
  font-size: 22px;
  margin-top: 10px;
  color: #1A1C20;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text p {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.foto-perfil{
  
  object-fit: cover;
}

.topo-do-site .img-topo-site img{
position: relative;
animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
  0%{
    top:0;
  }
  100% {
    top: 30px
  }
}

/* Sobre mim */
section.sobre{
padding: 380px 4%;
}
.img-sobre img{
  width: 310px;
  height: 580px;
  border-radius: 20px;
}

section.sobre .flex{
  align-items: center;
  gap: 200px;
}
.sobre .sobre-min{
  color: #000000;
}

.sobre .sobre-min h2{
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .sobre-min h2 span{
  display: block;
}

.sobre .sobre-min p{
margin: 20px 0;
text-align: justify;
}

.sobre .sobre-min .btn-social button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #00ff08;
  font-size: 22px;
  cursor: pointer;
  margin: 0 15px;
  transition: .2s;
}

/*Especialidade*/














/* Hard Skills*/
section.hardskills{
  padding: 200px 4%;
  }
.hardskills .tecnologias img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.hardskills h2{
  text-align: center;
  margin: 100px 0;

}

section.hardskills .flex{
  justify-content: center;
  gap: 100px;
}






/* Projetos*/

section.projetos{
  padding: 200px 4%;
}

.projetos h2{
  text-align: center;
}